<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:component-scan base-package="com.albo.deserialization"/>-->
    <context:property-placeholder location="config.properties"/>

    <bean id="config"
          class="com.albo.deserialization.manager.Config">
        <property name="files" value="#{'${files}'.split(',')}"/>
    </bean>

    <bean id="reader"
          class="com.albo.deserialization.reader.UserReaderWithJackson">
    </bean>

    <bean id="validator"
        class="com.albo.deserialization.validation.UserValidator">
    </bean>

    <bean id="usersDataBase"
          class="com.albo.deserialization.db.UsersDataBase">
    </bean>

    <bean id="userService"
          class="com.albo.deserialization.service.UserService">
        <constructor-arg ref="config"/>
        <constructor-arg ref="reader"/>
        <constructor-arg ref="validator"/>
        <constructor-arg ref="usersDataBase"/>
    </bean>

    <bean id="startEventHandler"
          class="com.albo.deserialization.eventhandling.StartEventHandler">
    </bean>

    <bean id="stopEventHandler"
          class="com.albo.deserialization.eventhandling.StopEventHandler">
    </bean>

</beans>